<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Placement Management System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Placement Management Portal</h1>
    <p>Welcome to the Training and Placement Management System</p>

    <div class="menu">
        <a href="/students">Student Section</a>
        <a href="/recruiters">Recruiter Section</a>
        <a href="/placements">Placement Drives</a>
        <a href="/login">Login</a>

    </div>
</body>

</html>